* {
    box-sizing: border-box;
}

html {
    font-weight: 400px;
}

body {
    font-family: arial, sans-serif;
    margin: 40px;
}

header  {
    text-align: center;
}
/*adding background images as a nice to have later*/
.item {
    float: left;
    width: 33%;
    background-color: #6495ed;
    margin: 0 auto;
    padding: 40px;
    margin: 2px
}

li {
    list-style: none;
}

.container {
    padding: 20px;
    overflow: auto;
}

@media screen and (min-width: 500px){
    .item {
        height: 400px;
    }
}

@media screen and (max-width: 1220px){
    .item {
        width: 100%;
        margin: 2px 0;
    }
}

input {
    display: block;
    margin: 20px;
    padding: 20px;
}

select {
    display: block;
    margin: 20px;
    padding: 20px;
}