* {
    box-sizing: border-box;
}

html {
    font-weight: 400;
}

body {
    font-family: arial, sans-serif;
    margin: 40;
}

header  {
    text-align: center;
}
/*adding background images as a nice to have later*/
.items {
    float: left;
    width: 25%;
    background-color: #ffe4c4;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: center;
}

li {
    list-style: none;
}

.container {
    padding: 20;
    overflow: auto;
}

/*media queries for responsiveness*/

@media screen and (min-width: 500px){
    .items {
        height: 400px;
    }
}